@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: rgb(125, 186, 195);
    border-radius: 4px;
}

.active{
    background-color: rgb(190, 175, 210);
    border-color: rgb(43, 6, 71);
}